
@font-face {
    font-family: 'GenBasB';
    src: url('../fonts/Menu-Gentium-Basic/GenBasB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'YesevaOne';
    src: url('../fonts/Name-yeseva-one/YesevaOne-Regular_v2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Text-lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}









